{% macro search() %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{url_for('watchlist')}}">Irwin Cheat Hunter</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    </nav>
{% endmacro %}

{% macro directory(userId, playerReportId=None, gameId=None, lichessLink=None) %}
    <nav class="navbar flex-md-nowrap border-bottom directory">
      <div class="col left">
        <a href="{{url_for('player', userId=userId)}}">
          <span data-feather="chevron-right"></span>
          Player {{userId}}</a>
      </div>
      {% if playerReportId != None %}
      <div class="col left">
        <a href="{{url_for('playerReport', reportId=playerReportId)}}">
          <span data-feather="chevron-right"></span>
          Player Report {{playerReportId}}
        </a>
      </div>
      {% endif %}
      {% if gameId != None %}
      <div class="col left">
        <a href="{{url_for('gameReport', gameId=gameId, reportId=playerReportId)}}">
          <span data-feather="chevron-right"></span>
          Game Report {{gameId}}
        </a>
      </div>
      {% endif %}
      {% if lichessLink != None %}
      <div class="col" style="text-align: right;">
        <a href="{{lichessLink}}" target="_blank">
          view in lichess
          <span data-feather="arrow-up-right"></span>
        </a>
      </div>
      {% else %}
      <div class="col" style="text-align: right;">
        <a href="https://lichess.org/report/list" target="_blank">
          lichess report queue
          <span data-feather="arrow-up-right"></span>
        </a>
      </div>
      {% endif %}
    </nav>
{% endmacro %}

{% macro sidebar(page) %}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('watchlist')}}">
                  <span data-feather="crosshair"></span>
                  Watchlist
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('recentReports')}}">
                  <span data-feather="file"></span>
                  Recent Irwin Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('analysisQueue')}}">
                  <span data-feather="shopping-cart"></span>
                  Analysis Queue
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
{% endmacro %}