{% macro search() %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Irwin Cheat Hunter</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    </nav>
{% endmacro %}

{% macro sidebar(page) %}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('modReports')}}">
                  <span data-feather="home"></span>
                  Open Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('recentReports')}}">
                  <span data-feather="file"></span>
                  Recent Irwin Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('analysisQueue')}}">
                  <span data-feather="shopping-cart"></span>
                  Analysis Queue
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
{% endmacro %}