{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Player Analysis Queue') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('analysis-queue') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>Player Analysis Queue</h1>
      <h2>In Progress</h2>
      {% for analysisRequest in inProgress %}
      <div class="col">
        <div class="row" style="margin-top: 10px;">
          <div class="col-2"><h4><b>{{analysisRequest.id}}</b></h4></div>
          <div class="col-2"><h4>{{analysisRequest.progress}}% complete</h4></div>
          <div class="col"><h4>processed by {{analysisRequest.owner}}</h4></div>
        </div>
        <div class="row" style="width:100%; background-color: rgba(20, 20, 20, 0.2); border-radius: 2px;">
          <div style="width: {{analysisRequest.progress}}%; height: 5px; left: 0; background-color: rgba(0, 230, 20, 0.8); border-radius: 2px;"></div>
        </div>
      </div>
      {% endfor %}
      <br>
      <h2>Queued</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Precedence</th>
                  <th>Username</th>
                  <th>Origin</th>
                  <th>Links</th>
                </tr>
              </thead>
              {% for analysisRequest in queuedAnalyses %}
              <tr>
                <td>{{analysisRequest.precedence}}</td>
                <td>{{analysisRequest.id}}</td>
                <td>{{analysisRequest.origin}}</td>
                <td>
                  <a href="{{url_for('player', userId=analysisRequest.id)}}">
                    <span data-feather="user"></span>
                     Irwin Profile
                  </a><br><br>
                  <a href="https://lichess.org/@/{{analysisRequest.id}}?mod">
                    <span data-feather="arrow-up-right"></span>
                     Lichess Profile
                  </a>
                </td>
              {% endfor %}
            </table>
          </div>
    </main>
  {{ base.scripts() }}
  </body>
</html>