{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Player Analysis Queue') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('analysis-queue') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>Player Analysis Queue</h1>
      <h2>In Progress</h2>
      <div id="in-progress" class="col">
        {% for analysisRequest in inProgress %}
        <div id="{{analysisRequest.id}}" class="col">
          <div class="row" style="margin-top: 10px;">
            <div class="col-4" style="text-align: right;"><h4><b><a href="{{url_for('player', userId=analysisRequest.id)}}">{{analysisRequest.id}}</a></b></h4></div>
            <div id="{{analysisRequest.id}}-progress-text" class="col-2" style="text-align: center;"><h4>{{analysisRequest.progress}}% complete</h4></div>
            <div class="col-4"><h4>processed by {{analysisRequest.owner}}</h4></div>
          </div>
          <div class="row" style="width:100%; background-color: rgba(20, 20, 20, 0.2); border-radius: 2px;">
            <div id="{{analysisRequest.id}}-progress" style="width: {{analysisRequest.progress}}%; height: 5px; left: 0; background-color: rgba(0, 230, 20, 0.8); border-radius: 2px;"></div>
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
      <h2>Queued</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Precedence</th>
                  <th>Username</th>
                  <th>Origin</th>
                  <th>Links</th>
                </tr>
              </thead>
              {% for analysisRequest in queuedAnalyses %}
              <tr>
                <td>{{analysisRequest.precedence}}</td>
                <td>{{analysisRequest.id}}</td>
                <td>{{analysisRequest.origin}}</td>
                <td>
                  <a href="{{url_for('player', userId=analysisRequest.id)}}">
                    <span data-feather="user"></span>
                     Irwin Profile
                  </a><br><br>
                  <a href="https://lichess.org/@/{{analysisRequest.id}}?mod">
                    <span data-feather="arrow-up-right"></span>
                     Lichess Profile
                  </a>
                </td>
              {% endfor %}
            </table>
          </div>
    </main>
  {{ base.scripts() }}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io.connect('https://' + document.domain + ':' + location.port);
      var inProgress = [{% for analysisRequest in inProgress %}'{{analysisRequest.id}}',{% endfor %}];
      socket.on('connect', function() {
          //socket.emit('progress-request', {data: inProgess});
          socket.emit('progress-request', {data: inProgress});
      });
      socket.on('progress-update', function(data) {
        data['requests'].forEach(function(req) {
          if ($('#'+req['id']).length) {
            if (req['complete']) {
              inProgress.remove(req['id']); // no longer need to request updates for this person
              // Provide link to the report
              $('#'+req['id']+'-progress-text').html('<h4><a href="' + document.domain + '/player-report/latest/'+req['id']+'>'+req['progress']+'% complete</a></h4>');
            } else {
              $('#'+req['id']+'-progress-text').html('<h4>'+req['progress']+'% complete</h4>');
            }
            $('#'+req['id']+'-progress').css('width', req['progress']+'%');
          } else {
            inProgress.push(req['id']);
            $('#in-progress').prepend(
              "<div id='" + req['id'] + "' class='col'>" +
              "<div class='row' style='margin-top: 10px;'>" +
                "<div class='col-4' style='text-align: right;'><h4><b>" + req['id'] + "</b></h4></div>" +
                "<div id='" + req['id'] + "-progress-text' style='text-align: center;' class='col-2'><h4>" + req['progress'] + "% complete</h4></div>" +
                "<div class='col-4'><h4>processed by " + req['owner'] + "</h4></div>" +
              "</div>" +
              "<div class='row' style='width:100%; background-color: rgba(20, 20, 20, 0.2); border-radius: 2px;'>" +
                "<div id='" + req['id'] + "-progress' style='width: " + req['progress'] + "%; height: 5px; left: 0; background-color: rgba(0, 230, 20, 0.8); border-radius: 2px;'></div>" +
              "</div>" +
            "</div>");
          }
        });
      });
      setInterval(function() {
        // request progress update evey 5 seconds
        socket.emit('progress-request', {data: inProgress});
      }, 5000);
  </script>
  </body>
</html>