{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Player Analysis Queue') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('analysis-queue') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>In Progress</h1>
      {% for request in inProgress %}
      <div class="row">
        <div style="width: {{request.progress}}%; height: 10px; left: 0; background-color: red;">
        <div class="row">
          <h2><b>{{request.id}}<b></h2>
        </div>
      </div>
      {% endfor %}
      <h1>Player Analysis Queue</h1>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Precedence</th>
                  <th>Username</th>
                  <th>Origin</th>
                  <th>Created</th>
                  <th>Links</th>
                </tr>
              </thead>
              {% for request in queuedAnalyses %}
              <tr>
                <td>{{request.precedence}}</td>
                <td>{{request.id}}</td>
                <td>{{request.origin}}</td>
                <td>{{"{:%d %b %Y}".format(request.date)}}</td>
                <td>
                  <a href="{{url_for('player', userId=request.id)}}">
                    <span data-feather="user"></span>
                     Irwin Profile
                  </a><br><br>
                  <a href="https://lichess.org/@/{{request.id}}?mod">
                    <span data-feather="arrow-up-right"></span>
                     Lichess Profile
                  </a>
                </td>
              {% endfor %}
            </table>
          </div>
    </main>
  {{ base.scripts() }}
  </body>
</html>