{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Game Report - ' + gameReport.id) }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('player') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {{ nav.directory(playerReport.userId, playerReport.id, gameReport.gameId, lichessLink=gameUrl)}}
      <h1>
        <b>
          <span style="color: {{graphColor}}">{{gameReport.activation}}%</span>
           {{ playerReport.userId }} in {{ gameReport.gameId }}
        </b>
      </h1>
      <div class="row">
        <div class="col-3">
          <canvas id="overall" height="200em"></canvas>
        </div>
        <div class="col-9">
          <div class="row">
            <h3>Move Activations</h3>
            <canvas id="move-activations" height="40em"></canvas>
          </div>
          <div class="row">
            <h3><span style="color: rgba(240, 0, 0, 0.8)">Winning Chances</span> &amp; <span style="color: rgba(88, 186, 232, 0.8)"> Move Times</span></h3>
            <canvas id="advantage-chart" height="40em"></canvas>
          </div>
          <div class="row">
            <h3>Winning Chances Loss By Move</h3>
            <canvas id="loss-chart" height="40em"></canvas>
          </div>
          <div class="row">
            <h3>PV Rank By Move</h3>
            <canvas id="rank-chart" height="40em"></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Loss By Move-Time</h3>
          <canvas id="loss-by-move-time"></canvas>
        </div>
        <div class="col">
          <h3>PV Rank By Move-Time</h3>
          <canvas id="rank-by-move-time"></canvas>
        </div>
        <div class="col">
          <h3>Loss By Rank</h3>
          <canvas id="loss-by-rank-time"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Move-Times Distribution</h3>
          <canvas id="move-time-dist"></canvas>
        </div>
        <div class="col">
          <h3>Winning Chances Loss Distribution</h3>
          <canvas id="loss-dist"></canvas>
        </div>
        <div class="col">
          <h3>PV Distribution</h3>
          <canvas id="pv-dist"></canvas>
        </div>
      </div>
    </main>
  {{ base.scripts() }}
  <script>
    Chart.defaults.global.legend.display = false;

    titledAverages = {
      'averageLossByMove': [2.677001127395716, 1.9740698985343856, 
                               1.6158399098083427, 1.3757046223224352, 
                               1.4613866967305524, 1.5949830890642616, 
                               1.726042841037204, 1.8852874859075535, 
                               2.2150507328072155, 2.2440811724915446, 
                               2.4966178128523113, 2.7071589627959414, 
                               2.855693348365276, 2.9258737316798196, 
                               2.951240135287486, 3.0428410372040586, 
                               3.056651634723788, 3.1138669673055244, 
                               3.152762119503946, 3.3686583990980834, 
                               3.383032694475761, 3.2589182968929804, 
                               3.149200710479574, 3.1942557134033356, 
                               3.038274408044113, 3.209809264305177, 
                               3.183688199206063, 3.2965491088357983, 
                               3.252818035426731, 3.0545842217484007, 
                               2.786071916249431, 3.135856380397865, 
                               3.127215849843587, 2.9442275515895147, 
                               3.0527894421115778, 2.810546875, 
                               2.9176721078779275, 2.8882854926299455, 
                               2.755744680851064, 2.547328959700094, 
                               2.7830578512396693, 2.6147635524798156, 
                               3.3477157360406093, 2.9169096209912535, 
                               2.539837398373984, 2.9206642066420665, 
                               2.07185628742515],
      'averageRankByMove': [2.879086809470124, 2.709977452085682, 
                               2.567925591882751, 2.537767756482525, 
                               2.5171927846674182, 2.4949267192784665, 
                               2.5450958286358514, 2.5453776775648254, 
                               2.6671364148816235, 2.6761555806087935, 
                               2.65304396843292, 2.6910935738444195, 
                               2.640924464487035, 2.6786922209695603, 
                               2.640924464487035, 2.665727170236753, 
                               2.5916009019165727, 2.6025930101465615, 
                               2.5873731679819616, 2.599774520856821, 
                               2.563979706877114, 2.584867663981588, 
                               2.526050917702783, 2.5296479308214948, 
                               2.5588712293220888, 2.5899182561307903, 
                               2.5286900036088054, 2.5305271141448618, 
                               2.57487922705314, 2.506183368869936, 
                               2.5106964041875286, 2.497331392527899, 
                               2.5698644421272157, 2.5521472392638036, 
                               2.5200959808038395, 2.5475260416666665, 
                               2.5408090844570617, 2.504266873545384, 
                               2.5838297872340426, 2.4967197750702907, 
                               2.5557851239669422, 2.4694348327566322, 
                               2.4771573604060912, 2.489795918367347, 
                               2.5609756097560976, 2.53690036900369, 
                               2.5229540918163673]};
    //// Overall ===========================
    // bar chart data
    // get bar chart canvas
    var overallChart = document.getElementById("overall").getContext("2d");

     // draw bar chart
    var activationGauge = new Chart(overallChart, {
      type: 'doughnut',
      data: {
        datasets : [
          {
            hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
            borderColor: 'rgba(50, 50, 50, 0.2)',
            backgroundColor: [
              '{{graphColor}}',
              'rgba(50, 50, 50, 0.2)'
            ],
            data : [{{gameReport.activation}}, {{100 - gameReport.activation}}]
          },
          {
            hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
            borderColor: 'rgba(50, 50, 50, 0.2)',
            backgroundColor: [
              'rgba(84, 231, 96, 0.8)',
              'rgba(109, 231, 84, 0.8)',
              'rgba(131, 231, 84, 0.8)',
              'rgba(163, 231, 84, 0.8)',
              'rgba(197, 231, 84, 0.8)',
              'rgba(231, 229, 84, 0.8)',
              'rgba(231, 194, 84, 0.8)',
              'rgba(231, 158, 84, 0.8)',
              'rgba(231, 118, 84, 0.8)',
              'rgba(231, 84, 84, 0.8)'].reverse(),
            data : {{gameReport.binnedActivations()}}
          }
        ]
      },
      options: {
        cutoutPercentage: 60,
        legend: false,
        tooltips: {
          enabled: false
        },
        rotation: Math.PI
      }
    });

    //// Move Activations ==========================
    var moveActivationCtx = document.getElementById("move-activations").getContext("2d");

    var moveActivationChart = new Chart(moveActivationCtx, {
      type: 'line',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            label: 'Activation',
            data: {{gameReport.activations()}},
            borderColor: '{{graphColor}}',
            backgroundColor: '{{graphColor}}',
            pointBackgroundColor: {{pointColors|safe}},
            pointRadius: 5
          }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 100,
              callback: function(value, index, values) {
                return value + '%';
              }
            }
          }]
        }
      }
    });
    //// Winning Chances Loss By Move ==========================
    var moveLossCtx = document.getElementById("loss-chart").getContext("2d");

    var moveLossChart = new Chart(moveLossCtx, {
      type: 'line',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            label: 'Played Move',
            data: {{gameAnalysis.winningChancesLossPercent()}},
            borderColor: 'rgba(240, 0, 0, 0.8)',
            fill: false,
            lineWidth: 2
          },
          {
            label: 'Titled Player Average',
            data: titledAverages['averageLossByMove'],
            borderColor: 'rgba(20, 180, 40, 0.4)',
            fill: false,
            lineWidth: 0.5,
            pointRadius: 1
          },
          {% for pvLosses in gameAnalysis.winningChancesLossByPV() %}
          {
            label: '{{pvLosses[0]}}',
            data: {{pvLosses[2]|safe}},
            borderColor: '{{pvLosses[1]}}',
            fill: false
          },
          {% endfor %}]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 10,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Rank By Move ==========================
    var moveRankCtx = document.getElementById("rank-chart").getContext("2d");

    var moveRankChart = new Chart(moveRankCtx, {
      type: 'line',
      data: {
        labels: {{gameReport.moveNumbers()|safe}},
        datasets:[
          {
            label: 'Played Move Rank',
            data: {{gameAnalysis.ranksJSON()|safe}},
            borderColor: 'rgba(240, 0, 0, 0.8)',
            fill: false,
            lineWidth: 2
          },
          {
            label: 'Titled Player Average',
            data: titledAverages['averageRankByMove'],
            borderColor: 'rgba(20, 180, 40, 0.4)',
            fill: false,
            lineWidth: 0.5,
            pointRadius: 1
          },
          {
            label: 'Good Moves',
            data: {{gameAnalysis.ambiguities()|safe}},
            borderColor: 'rgba(20,20,20,0.3)',
            fill: false
          }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 1,
              max: 5,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }]
        }
      }
    });
    //// Move Times ==========================
    var moveTimesCtx = document.getElementById("advantage-chart").getContext("2d");

    var moveTimesChart = new Chart(moveTimesCtx, {
      type: 'line',
      data: {
        labels: {{gameReport.moveNumbers()|safe}},
        datasets:[
          {
            label: 'Winning Chances',
            data: {{gameAnalysis.winningChancesPercent()|safe}},
            borderColor: 'rgba(240, 0, 0, 0.8)',
            fill: false,
            yAxisID: 'winning-chances'
          },
          {
            label: 'Elapsed Move Time',
            data: {{gameAnalysis.emtSeconds()|safe}},
            borderColor: 'rgba(88, 186, 232, 0.8)',
            fill: false,
            lineWidth: 2,
            yAxisID: 'move-time'
          }
        ]
      },
      options: {
        scales: {
          yAxes: [
          {
            id: 'winning-chances',
            position: 'left',
            display: true,
            ticks: {
              min: 0,
              max: 100,
              step: 10,
              callback: function(value, index, values) {
                return value + '%';
              }
            }
          },
          {
            id: 'move-time',
            position: 'right',
            display: true,
            gridLines: {
              display: false
            },
            ticks: {
              callback: function(value, index, values) {
                return value + ' sec';
              }
            }
          }]
        }
      }
    });
    //// Loss By Move Times ==========================
    var lossByMovetimeCtx = document.getElementById("loss-by-move-time").getContext("2d");

    var lossByMovetimeChart = new Chart(lossByMovetimeCtx, {
      type: 'scatter',
      data: {
        labels: {{gameReport.moveNumbers()|safe}},
        datasets:[
          {
            data: {{gameAnalysis.lossByTimeJSON()|safe}},
            pointBackgroundColor: {{pointColors|safe}},
            pointRadius: 10,
            pointHoverRadius: 12,
            fill: false,
            showLine: false
          }
        ]},
      options: {
        scales: {
          xAxes: [{
            ticks: {
              callback: function(value, index, values)  {
                return value.toFixed(1) + ' sec';
              }
            }
          }],
          yAxes: [{
            ticks: {
              min:0,
              max:10,
              stepSize:2,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Loss By Move Times ==========================
    var rankByMovetimeCtx = document.getElementById("rank-by-move-time").getContext("2d");

    var rankByMovetimeChart = new Chart(rankByMovetimeCtx, {
      type: 'scatter',
      data: {
        labels: {{gameReport.moveNumbers()|safe}},
        datasets:[
          {
            data: {{gameAnalysis.moveRankByTimeJSON()|safe}},
            pointBackgroundColor: {{pointColors|safe}},
            pointRadius: 10,
            pointHoverRadius: 12,
            fill: false,
            showLine: false
          }
        ]
      },
      options: {
        scales: {
          xAxes: [{
            ticks: {
              callback: function(value, index, values)  {
                return value.toFixed(1) + ' sec';
              }
            }
          }],
          yAxes: [{
            ticks: {
              min:1,
              max:5,
              stepSize: 1,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }]
        }
      }
    });
    //// Loss By Move Times ==========================
    var lossByRankCtx = document.getElementById("loss-by-rank-time").getContext("2d");

    var lossByRankChart = new Chart(lossByRankCtx, {
      type: 'scatter',
      data: {
        labels: {{gameReport.moveNumbers()|safe}},
        datasets:[
          {
            data: {{gameAnalysis.lossByRankJSON()|safe}},
            pointBackgroundColor: {{pointColors|safe}},
            pointRadius: 10,
            pointHoverRadius: 12,
            fill: false,
            showLine: false
          }
        ]
      },
      options: {
        scales: {
          xAxes: [{
            ticks: {
              min:1,
              max:5,
              stepSize:1,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }],
          yAxes: [{
            ticks: {
              min:0,
              max:10,
              stepSize:2,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Move Time Distribution ==========================
    var moveTimeDistCtx = document.getElementById("move-time-dist").getContext("2d");

    var moveTimeDistChart = new Chart(moveTimeDistCtx, {
      type: 'bar',
      data: {
        labels: {{gameAnalysis.binnedSeconds()['labels']|safe}},
        datasets:[
          {
            data: {{gameAnalysis.binnedSeconds()['data']|safe}},
            backgroundColor: 'rgba(126, 116, 214, 0.5)',
            borderColor: 'rgba(126, 116, 214, 0.8)',
            borderWidth: 2
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              callback: function(value, index, values) {
                return '∑ ' + value;
              }
            }
          }]
        }
      }
    });
    //// Loss Distribution ==========================
    var lossDistCtx = document.getElementById("loss-dist").getContext("2d");

    var lossDistChart = new Chart(lossDistCtx, {
      type: 'bar',
      data: {
        labels: {{gameAnalysis.binnedLosses()['labels']|safe}},
        datasets:[
          {
            data: {{gameAnalysis.binnedLosses()['data']|safe}},
            backgroundColor: 'rgba(116, 198, 214, 0.5)',
            borderColor: 'rgba(116, 198, 214, 0.8)',
            borderWidth: 2
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              callback: function(value, index, values) {
                return '∑ ' + value;
              }
            }
          }]
        }
      }
    });
    //// Move Time Distribution ==========================
    var pvDistCtx = document.getElementById("pv-dist").getContext("2d");

    var pvDistChart = new Chart(pvDistCtx, {
      type: 'bar',
      data: {
        labels: {{gameAnalysis.binnedPVs()['labels']|safe}},
        datasets:[
          {
            data: {{gameAnalysis.binnedPVs()['data']|safe}},
            backgroundColor: 'rgba(165, 214, 116, 0.5)',
            borderColor: 'rgba(165, 214, 116, 0.8)',
            borderWidth: 2
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              callback: function(value, index, values) {
                return '∑ ' + value;
              }
            }
          }]
        }
      }
    });
  </script>
  </body>
</html>