{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Game Report - ' + gameReport.id) }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('player') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <a href="{{url_for('playerReport', reportId=gameReport.reportId)}}">
        <span data-feather="chevron-left"></span>
        Parent Report
      </a>
      <h4>Game Report ID: {{ gameReport.id }}</h4>
      <h1><b>{{ playerReport.userId }}</b><a href="{{gameUrl}}" target="_blank"> in {{gameReport.gameId}}</a></h1>
      <div class="row">
        <div class="col-3">
          <h3>Activation <span style="color: {{overallActivationColor}}"><b>{{gameReport.activation}}%</b></span></h3>
          <canvas id="overall" height="200em"></canvas>
        </div>
        <div class="col-9">
          <div class="row">
            <h3>Move Activations</h3>
            <canvas id="move-activations" height="40em"></canvas>
          </div>
          <div class="row">
            <h3><span style="color: rgba(240, 0, 0, 0.8)">Winning Chances</span> &amp; <span style="color: rgba(88, 186, 232, 0.8)"> Move Times</span></h3>
            <canvas id="advantage-chart" height="40em"></canvas>
          </div>
          <div class="row">
            <h3>Winning Chances Loss By Move</h3>
            <canvas id="loss-chart" height="40em"></canvas>
          </div>
          <div class="row">
            <h3>PV Rank By Move</h3>
            <canvas id="rank-chart" height="40em"></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Loss By Move-Time</h3>
          <canvas id="loss-by-move-time"></canvas>
        </div>
        <div class="col">
          <h3>PV Rank By Move-Time</h3>
          <canvas id="rank-by-move-time"></canvas>
        </div>
        <div class="col">
          <h3>Loss By Rank</h3>
          <canvas id="loss-by-rank-time"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Move-Times Distribution</h3>
          <canvas id="move-time-dist"></canvas>
        </div>
        <div class="col">
          <h3>Winning Chances Loss Distribution</h3>
          <canvas id="loss-dist"></canvas>
        </div>
        <div class="col">
          <h3>PV Distribution</h3>
          <canvas id="pv-dist"></canvas>
        </div>
      </div>
    </main>
  {{ base.scripts() }}
  <script>
    Chart.defaults.global.legend.display = false;
    //// Overall ===========================
    // bar chart data
    // get bar chart canvas
    var overallChart = document.getElementById("overall").getContext("2d");

     // draw bar chart
    var activationGauge = new Chart(overallChart, {
      type: 'doughnut',
      data: {
        datasets : [
          {
            hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
            borderColor: 'rgba(50, 50, 50, 0.2)',
            backgroundColor: [
              '{{graphColor}}',
              'rgba(50, 50, 50, 0.2)'
            ],
            data : [{{gameReport.activation}}, {{100 - gameReport.activation}}]
          },
          {
            hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
            borderColor: 'rgba(50, 50, 50, 0.2)',
            backgroundColor: [
              'rgba(214, 116, 116, 0.52)',
              'rgba(214, 183, 116, 0.52)',
              'rgba(214, 190, 116, 0.52)',
              'rgba(203, 214, 116, 0.52)',
              'rgba(165, 214, 116, 0.52)',
              'rgba(116, 214, 121, 0.52)',
              'rgba(116, 214, 173, 0.52)',
              'rgba(116, 198, 214, 0.52)',
              'rgba(116, 154, 214, 0.52)',
              'rgba(126, 116, 214, 0.52)'
            ],
            data : {{gameReport.binnedActivations()}}
          }
        ]
      },
      options: {
        cutoutPercentage: 60,
        legend: false,
        tooltips: {
          enabled: false
        },
        rotation: Math.PI
      }
    });

    //// Move Activations ==========================
    var moveActivationCtx = document.getElementById("move-activations").getContext("2d");

    var moveActivationChart = new Chart(moveActivationCtx, {
      type: 'line',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            label: 'Activation',
            data: {{gameReport.activations()}},
            borderColor: '{{overallActivationColor}}',
            backgroundColor: '{{graphColor}}',
            pointBackgroundColor: [{% for color in pointColors %}
            '{{color}}',{% endfor %}
            ],
            pointRadius: 5
          }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 100,
              callback: function(value, index, values) {
                return value + '%';
              }
            }
          }]
        }
      }
    });
    //// Winning Chances Loss By Move ==========================
    var moveLossCtx = document.getElementById("loss-chart").getContext("2d");

    var moveLossChart = new Chart(moveLossCtx, {
      type: 'line',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            label: 'Played Move',
            data: {{gameAnalysis.winningChancesLossPercent()}},
            borderColor: 'rgba(240, 0, 0, 0.8)',
            fill: false,
            lineWidth: 2
          },{% for pvLosses in gameAnalysis.winningChancesLossByPV() %}
          {
            label: '{{pvLosses[0]}}',
            data: [{% for pv in pvLosses[2] %}
            {{pv}},{% endfor %}],
            borderColor: '{{pvLosses[1]}}',
            fill: false
          },
          {% endfor %}]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 10,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Rank By Move ==========================
    var moveRankCtx = document.getElementById("rank-chart").getContext("2d");

    var moveRankChart = new Chart(moveRankCtx, {
      type: 'line',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            label: 'Played Move Rank',
            data: [{% for rank in gameAnalysis.ranks() %}
            {{rank}},{% endfor %}
            ],
            borderColor: 'rgba(240, 0, 0, 0.8)',
            fill: false,
            lineWidth: 2
          },
          {
            label: 'Good Moves',
            data: {{gameAnalysis.ambiguities()}},
            borderColor: 'rgba(20,20,20,0.3)',
            fill: false
          }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 1,
              max: 5,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }]
        }
      }
    });
    //// Move Times ==========================
    var moveTimesCtx = document.getElementById("advantage-chart").getContext("2d");

    var moveTimesChart = new Chart(moveTimesCtx, {
      type: 'line',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            label: 'Winning Chances',
            data: {{gameAnalysis.winningChancesPercent()}},
            borderColor: 'rgba(240, 0, 0, 0.8)',
            fill: false,
            yAxisID: 'winning-chances'
          },
          {
            label: 'Elapsed Move Time',
            data: {{gameAnalysis.emtSeconds()}},
            borderColor: 'rgba(88, 186, 232, 0.8)',
            fill: false,
            lineWidth: 2,
            yAxisID: 'move-time',
            pointStyle: [{% for shape in blursToShapes %}
            '{{ shape }}',{% endfor %}]
          }
        ]
      },
      options: {
        scales: {
          yAxes: [
          {
            id: 'winning-chances',
            position: 'left',
            display: true,
            ticks: {
              min: 0,
              max: 100,
              step: 10,
              callback: function(value, index, values) {
                return value + '%';
              }
            }
          },
          {
            id: 'move-time',
            position: 'right',
            display: true,
            gridLines: {
              display: false
            },
            ticks: {
              callback: function(value, index, values) {
                return value + ' sec';
              }
            }
          }]
        }
      }
    });
    //// Loss By Move Times ==========================
    var lossByMovetimeCtx = document.getElementById("loss-by-move-time").getContext("2d");

    var lossByMovetimeChart = new Chart(lossByMovetimeCtx, {
      type: 'scatter',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            data: [{% for lossByTime in lossesByTimes %}
              {
                x: {{lossByTime[1]}},
                y: {{lossByTime[0]}}
              },{% endfor %}],
            pointBackgroundColor: [{% for lossByTime in lossesByTimes %}
              '{{lossByTime[2]}}',{% endfor %}],
            pointRadius: 10,
            pointHoverRadius: 12,
            fill: false,
            showLine: false
          }
        ]},
      options: {
        scales: {
          xAxes: [{
            ticks: {
              callback: function(value, index, values)  {
                return value.toFixed(1) + ' sec';
              }
            }
          }],
          yAxes: [{
            ticks: {
              min:0,
              max:10,
              stepSize:2,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Loss By Move Times ==========================
    var rankByMovetimeCtx = document.getElementById("rank-by-move-time").getContext("2d");

    var rankByMovetimeChart = new Chart(rankByMovetimeCtx, {
      type: 'scatter',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            data: [{% for rankByTime in ranksByTimes %}
              {% if rankByTime[0] != 'null' %}
              {
                x: {{rankByTime[1]}},
                y: {{rankByTime[0]}}
              },{% endif %}{% endfor %}],
            pointBackgroundColor: [{% for rankByTime in ranksByTimes %}{% if rankByTime[0] != 'null' %}
              '{{rankByTime[2]}}', {% endif %}{% endfor %}],
            pointRadius: 10,
            pointHoverRadius: 12,
            fill: false,
            showLine: false
          }
        ]
      },
      options: {
        scales: {
          xAxes: [{
            ticks: {
              callback: function(value, index, values)  {
                return value.toFixed(1) + ' sec';
              }
            }
          }],
          yAxes: [{
            ticks: {
              min:1,
              max:5,
              stepSize: 1,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }]
        }
      }
    });
    //// Loss By Move Times ==========================
    var rankByMovetimeCtx = document.getElementById("loss-by-rank-time").getContext("2d");

    var rankByMovetimeChart = new Chart(rankByMovetimeCtx, {
      type: 'scatter',
      data: {
        labels: {{gameReport.moveNumbers()}},
        datasets:[
          {
            data: [{% for lossByRank in lossesByRanks %}
              {% if lossByRank[0] != 'null' %}
              {
                x: {{lossByRank[0]}},
                y: {{lossByRank[1]}}
              },{% endif %}{% endfor %}],
            pointBackgroundColor: [{% for lossByRank in lossesByRanks %}{% if lossByRank[0] != 'null' %}
              '{{lossByRank[2]}}', {% endif %}{% endfor %}],
            pointRadius: 10,
            pointHoverRadius: 12,
            fill: false,
            showLine: false
          }
        ]
      },
      options: {
        scales: {
          xAxes: [{
            ticks: {
              min:1,
              max:5,
              stepSize:1,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }],
          yAxes: [{
            ticks: {
              min:0,
              max:10,
              stepSize:2,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Move Time Distribution ==========================
    var moveTimeDistCtx = document.getElementById("move-time-dist").getContext("2d");

    var moveTimeDistChart = new Chart(moveTimeDistCtx, {
      type: 'bar',
      data: {
        labels: [{% for binnedLabel in binnedSecondsLabels %}
        '{{binnedLabel}}',{% endfor %}],
        datasets:[
          {
            data: {{ binnedSeconds }},
            backgroundColor: 'rgba(126, 116, 214, 0.5)',
            borderColor: 'rgba(126, 116, 214, 0.8)',
            borderWidth: 2
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              callback: function(value, index, values) {
                return '∑ ' + value;
              }
            }
          }]
        }
      }
    });
    //// Loss Distribution ==========================
    var lossDistCtx = document.getElementById("loss-dist").getContext("2d");

    var lossDistChart = new Chart(lossDistCtx, {
      type: 'bar',
      data: {
        labels: [{% for binnedLabel in binnedLossesLabels %}
        '{{binnedLabel}}',{% endfor %}],
        datasets:[
          {
            data: {{ binnedLosses }},
            backgroundColor: 'rgba(116, 198, 214, 0.5)',
            borderColor: 'rgba(116, 198, 214, 0.8)',
            borderWidth: 2
          }
        ]
      },
      options: {
        scales: {
          xAxes: [{
            ticks: {
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }],
          yAxes: [{
            ticks: {
              callback: function(value, index, values) {
                return '∑ ' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Move Time Distribution ==========================
    var pvDistCtx = document.getElementById("pv-dist").getContext("2d");

    var pvDistChart = new Chart(pvDistCtx, {
      type: 'bar',
      data: {
        labels: [{% for binnedLabel in binnedPVsLabels %}
        '{{binnedLabel}}',{% endfor %}],
        datasets:[
          {
            data: {{ binnedPVs }},
            backgroundColor: 'rgba(165, 214, 116, 0.5)',
            borderColor: 'rgba(165, 214, 116, 0.8)',
            borderWidth: 2
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              callback: function(value, index, values) {
                return '∑ ' + value;
              }
            }
          }]
        }
      }
    });
  </script>
  </body>
</html>