{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Top Mod Reports') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('mod-reports') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>Top Open Reports</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Activation</th>
              <th>Username</th>
              <th>Created</th>
              <th>Updated</th>
            </tr>
          </thead>
          {% for modReport, irwinReport in players %}
          <tr class='clickable-row' data-href='{{url_for("player", userId=modReport.id)}}'>
            {% if irwinReport is not none %}
            <td>{{irwinReport.activation}}%</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td>{{modReport.id}}</td>
            <td>{{modReport.created}}</td>
            {% if irwinReport is not none %}
            <td>{{irwinReport.date}}</td>
            {% else %}
            <td>Never</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  {{ base.scripts() }}
  </body>
</html>