{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Top Mod Reports') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('mod') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>Moderator Reports - {{title}}</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="200px">Activation</th>
              <th width="400px">Details</th>
              <th>Links</th>
            </tr>
          </thead>
          {% for modReport, irwinReport, color in reportsWithAnalysis %}
          <tr>
            <td width="200px">
              <canvas id="report-activation-{{modReport.id}}" height="140px"></canvas>
            </td>
            <td>
              <h2>
                <b>{{modReport.id}}</b><br>
                <span style="color: {{color}}"><b>{{irwinReport.activation}}%
                </b></span>
              </h2>
              <h5>
                Last updated by {{irwinReport.owner}}, {{"{:%d %b %Y}".format(irwinReport.date)}}
              </h5>
            </td>
            <td>
              <a href='{{url_for("playerReport", reportId=irwinReport.id)}}'>
                <span data-feather="clipboard"></span>
                 View Report
              </a><br><br>
              <a href='{{url_for("player", userId=irwinReport.userId)}}'>
                <span data-feather="user"></span>
                 Irwin Profile
              </a><br><br>
              <a href='https://lichess.org/@/{{irwinReport.userId}}?mod' target="_blank">
                <span data-feather="arrow-up-right"></span>
                 Lichess Profile
              </a><br><br>
              <a href='https://lichess.org/@/{{irwinReport.userId}}/inquiry' target="_blank">
                <span data-feather="arrow-up-right"></span>
                 Open Inquiry
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  {{ base.scripts() }}
  <script type="text/javascript">
    //Chart.defaults.global.legend.display = false;
    //// Overall ===========================
    // bar chart data
    var playerDatasets = {
      {% for modReport, irwinReport, color in reportsWithAnalysis %}
      '{{modReport.id}}': {
        datasets: [
          {
            hoverBorderColor: 'rgba(50, 50, 50, 0.2',
            borderColor: 'rgba(50, 50, 50, 0.2)',
            backgroundColor: [
              '{{color}}',
              'rgba(50, 50, 50, 0.2)'
            ],
            data: [
              {{irwinReport.activation}}, {{100 - irwinReport.activation}}
            ]
          }
        ]
      },{% endfor %}
    };
    for (var reportId in playerDatasets) {
      var playerData = playerDatasets[reportId];

      new Chart(document.getElementById("report-activation-"+reportId).getContext('2d'), {
        type: 'doughnut',
        data: playerData,
        options: {
          cutoutPercentage: 60,
          legend: {
            display: false
          },
          tooltips: {
            enabled: false
          },
          rotation: Math.PI
        }
      });
    }
  </script>
  </body>
</html>