{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header(playerObj.id + ' - Player Analysis Queue') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('player') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="row">
        <div class="col">
          <h1><b>{{ playerObj.id }} </b><a target="_blank" href="https://lichess.org/@/{{playerObj.id}}?mod">view lichess profile</a></h1>
        </div>
        <div class="col" style="text-align: right;">
          <h1><button type="submit" onclick="UserAction()" class="refresh">Refresh Player Data</button></h1>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Titled</th>
              <th>Engine</th>
              <th>Games Played</th>
              <th># Closed Reports</th>
            </tr>
          </thead>
          <tr>
            <td>{{playerObj.titled}}</td>
            <td>{{playerObj.engine}}</td>
            <td>{{playerObj.gamesPlayed}}</td>
            <td>{{playerObj.closedReports}}</td>
          </tr>
        </table>
      </div>

      <h2>Irwin Reports</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Report ID</th>
              <th>Activation</th>
              <th>Owner</th>
              <th>Created</th>
            </tr>
          </thead>
          {% for report in playerReports %}
          <tr class='clickable-row' data-href='{{url_for("playerReport", reportId=report.id)}}'>
            <td>#{{report.id}}</td>
            <td>{{report.activation}}%</td>
            <td>{{report.owner}}</td>
            <td>{{report.date}}</td>
          </tr>
          {% endfor %}
        </table>  
      </div>
    </main>
  {{ base.scripts() }}
  <script>
    function UserAction() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "{{url_for('updatePlayerData')}}", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify({'userId': '{{playerObj.id}}'}));
      $(".refresh").text("loading...");
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4 && xhttp.status === 201) {
          var response = xhttp.responseText;
          console.log(response);
          $(".refresh").text('Updated!');
        } else if (xhttp.readyState === 4 && xhttp.status === 204) {
          var response = xhttp.responseText;
          console.log(response);
          $(".refresh").text('Failed!');
        }
      };
    }
  </script>
  </body>
</html>