{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Player Report - ' + playerReport.id) }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('player') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {{ nav.directory(playerReport.userId, playerReport.id, lichessLink="https://lichess.org/@/" + playerReport.userId + "?mod") }}
      <h1><b>{{ playerReport.userId }}</b></h1>
      <div class="row">
        <div class="col-3">
          <h3>Activation <span style="color: {{overallActivation}}"><b>{{playerReport.activation}}%</b></span></h3>
          <canvas id="overall" height="200em"></canvas>
        </div>
        <div class="col-9">
          <div class="row">
            <h3>Combined Move Activation</h3>
            <canvas id="combined-activation" height="70em"></canvas>
          </div>
          <div class="row">
            <h3>Average Winning Chances Loss By Move</h3>
            <canvas id="combined-loss" height="40em"></canvas>
            <h3>Average PV Rank By Move</h3>
            <canvas id="combined-rank" height="40em"></canvas>
          </div>
        </div>
      </div>
      <h2>Game Reports</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Game ID</th>
              <th width="3em">Activation</th>
              <th>Evolution</th>
            </tr>
          </thead>
          {% for moveActivations in gameMoveActivations %}
          <tr class='clickable-row' data-href='{{url_for("gameReport", gameId=moveActivations[0].gameId, reportId=moveActivations[0].reportId)}}'>
            <td style="text-align: right">
              <h3>#{{moveActivations[0].gameId}}</h3><br>
              <span style="color: {{moveActivations[3]}}"><h2><b>{{moveActivations[0].activation}}%</b></h2></span>
            </td>
            <td><canvas id="gameActivation{{moveActivations[0].gameId}}"></canvas></td>
            <td><canvas id="gameReport{{moveActivations[0].gameId}}"></canvas></td>
          </tr>
          {% endfor %}
        </table>  
      </div>
    </main>
  {{ base.scripts() }}
  <script>
    Chart.defaults.global.legend.display = false;
    //// Overall ===========================
    // bar chart data
    var barData = {
      datasets : [
        {
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{graphColour}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{playerReport.activation}}, {{100 - playerReport.activation}}]
        },
        {
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            'rgba(214, 116, 116, 0.52)',
            'rgba(214, 183, 116, 0.52)',
            'rgba(214, 190, 116, 0.52)',
            'rgba(203, 214, 116, 0.52)',
            'rgba(165, 214, 116, 0.52)',
            'rgba(116, 214, 121, 0.52)',
            'rgba(116, 214, 173, 0.52)',
            'rgba(116, 198, 214, 0.52)',
            'rgba(116, 154, 214, 0.52)',
            'rgba(126, 116, 214, 0.52)'
          ],
          data : {{breakdownData}}
        }
      ]
    };
   
     // get bar chart canvas
    var overallChart = document.getElementById("overall").getContext("2d");

     // draw bar chart
    var activationGauge = new Chart(overallChart, {
      type: 'doughnut',
      data: barData,
      options: {
        cutoutPercentage: 60,
        legend: false,
        tooltips: {
          enabled: false
        },
        rotation: Math.PI
      }
    });

    //// Combined Activation ==========================
    var combinedActivationCtx = document.getElementById("combined-activation").getContext("2d");

    var combinedActivationChart = new Chart(combinedActivationCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets:[{% for moveActivations in gameMoveActivations %}
          {
            label: '{{moveActivations[0].gameId}}',
            data: {{moveActivations[0].activations()}},
            borderColor: '{{moveActivations[2]}}',
            fill: false
          },{% endfor %}]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 100,
              step: 20,
              callback: function(value, index, values) {
                return value + '%';
              }
            }
          }]
        }
      }
    });
    //// Combined Loss ==========================
    var combinedLossCtx = document.getElementById("combined-loss").getContext("2d");

    var combinedLossChart = new Chart(combinedLossCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets:[
          {
            label: 'Average',
            data: {{averageLossByMove}},
            borderColor: 'rgba(240, 0, 0, 0.8)',
            fill: false,
            lineWidth: 2
          },
        {% for moveActivations in gameMoveActivations %}
          {
            label: '{{moveActivations[0].gameId}}',
            data: {{moveActivations[0].losses()}},
            borderColor: 'rgba(20,20,20,0.1)',
            fill: false
          },{% endfor %}]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 20,
              step: 4,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Combined Rank ==========================
    var combinedRankCtx = document.getElementById("combined-rank").getContext("2d");

    var combinedRankChart = new Chart(combinedRankCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets:[
          {
            label: 'Average',
            data: {{averageRankByMove}},
            borderColor: 'rgba(240, 0, 0, 0.8)',
            fill: false,
            lineWidth: 2
          },
        {% for moveActivations in gameMoveActivations %}
          {
            label: '{{moveActivations[0].gameId}}',
            data: [{% for rank in moveActivations[4] %}
              {{rank}},{% endfor %}
            ],
            borderColor: 'rgba(20,20,20,0.1)',
            fill: false
          },{% endfor %}]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 1,
              max: 5,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }]
        }
      }
    });
    //// Games =============================
    {% for moveActivations in gameMoveActivations %}
    // Game {{moveActivations[0].gameId}}
    var moveActivationsChart{{moveActivations[0].gameId}} = document.getElementById("gameReport{{moveActivations[0].gameId}}").getContext("2d");
    moveActivationsChart{{moveActivations[0].gameId}}.canvas.height = 35;
    var moveActivations{{moveActivations[0].gameId}} = new Chart(moveActivationsChart{{moveActivations[0].gameId}}, {
      type: 'line',
      data: {
        labels: {{moveActivations[0].moveNumbers()}},
        datasets: [{
          data: {{moveActivations[0].activations()}},
          pointRadius: 5,
          backgroundColor: '{{moveActivations[2]}}',
          pointBackgroundColor: [{% for color in moveActivations[1] %}
          '{{color}}',{% endfor%}]
        }],
      },
      options: {
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            ticks: {
              min:0,
              max:100,
              step:20,
              callback: function(value, index, values) {
                return value + '%';
              }
            }
          }]
        }
      }
    });

    var gameActivationCtx{{moveActivations[0].gameId}} = document.getElementById("gameActivation{{moveActivations[0].gameId}}").getContext("2d");
    gameActivationCtx{{moveActivations[0].gameId}}.canvas.height = 160;
    var data = {
      datasets : [
        {
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{moveActivations[2]}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{moveActivations[0].activation}}, {{100 - moveActivations[0].activation}}]
        },
        {
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            'rgba(214, 116, 116, 0.52)',
            'rgba(214, 183, 116, 0.52)',
            'rgba(214, 190, 116, 0.52)',
            'rgba(203, 214, 116, 0.52)',
            'rgba(165, 214, 116, 0.52)',
            'rgba(116, 214, 121, 0.52)',
            'rgba(116, 214, 173, 0.52)',
            'rgba(116, 198, 214, 0.52)',
            'rgba(116, 154, 214, 0.52)',
            'rgba(126, 116, 214, 0.52)'
          ],
          data : {{moveActivations[0].binnedActivations()}}
        }
      ]
    };
     // draw bar chart
    var gameActivationGauge{{moveActivations[0].gameId}} = new Chart(gameActivationCtx{{moveActivations[0].gameId}}, {
      type: 'doughnut',
      data: data,
      options: {
        cutoutPercentage: 60,
        legend: false,
        tooltips: {
          enabled: false
        },
        rotation: Math.PI
      }
    });
    {% endfor %}
    //// End
  </script>
  </body>
</html>