{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header(playerReport.id + ' - Player Report') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('player') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {{ nav.directory(playerReport.userId, playerReport.id, lichessLink="https://lichess.org/@/" + playerReport.userId + "?mod") }}
      <h1><b>{{ playerReport.userId }}</b></h1>
      <div class="row">
        <div class="col-3">
          <div class="row">
            <h3>Activation <span style="color: {{overallActivationColor}}"><b>{{playerReport.activation}}%</b></span></h3>
            <canvas id="overall" height="200em"></canvas>
          </div>
          <div class="btn-group filter">
            <button type="button" class="btn btn-default active" id="filter-all" onclick="filterGames('all')">
              <h3>All</h3>
            </button>
            <button type="button" class="btn btn-default" id="filter-top" onclick="filterGames('top')">
              <h3>Top</h3>
            </button>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <h3>Combined Move Activations</h3>
            <canvas id="combined-activation" height="70em"></canvas>
          </div>
          <div class="row">
            <h3>Average Winning Chances Loss By Move</h3>
            <canvas id="combined-loss" height="40em"></canvas>
            <h3>Average PV Rank By Move</h3>
            <canvas id="combined-rank" height="40em"></canvas>
          </div>
        </div>
      </div>
      <h2>Game Reports</h2>
      {% for gameReport in gameReportStore.gameReports %}
      <div class="row" style="height: 200px; width: 100%;">
        <div class="col-2" style="text-align: right;">
          <h3>#{{gameReport.gameId}}</h3>
          <span style="color: {{darkColors[gameReport.colorIndex()]}}">
            <h2>
              <b>{{gameReport.activation}}%</b>
            </h2>
          </span>
          <br>
          <a href='{{url_for("gameReport", gameId=gameReport.gameId, reportId=gameReport.reportId)}}'>
            <span data-feather="clipboard"></span>
             View Report
          </a><br><br>
          <a href='https://lichess.org/{{gameReport.gameId}}'>
            <span data-feather="arrow-up-right"></span>
             View Game
          </a>
        </div>
        <div class="col" style="min-width: 200px; max-width: 200px;">
          <canvas id="gameActivation{{gameReport.gameId}}" style="height: 90%; width: 200px;"></canvas>
        </div>
        <div class="col-8" style="height: 200px;">
          <canvas id="gameReport{{gameReport.gameId}}"></canvas>
        </div>
      </div>
      {% endfor %}
    </main>
  {{ base.scripts() }}
  <script>
    activationColors = [
      'rgba(84, 231, 96, 0.8)',
      'rgba(109, 231, 84, 0.8)',
      'rgba(131, 231, 84, 0.8)',
      'rgba(163, 231, 84, 0.8)',
      'rgba(197, 231, 84, 0.8)',
      'rgba(231, 229, 84, 0.8)',
      'rgba(231, 194, 84, 0.8)',
      'rgba(231, 158, 84, 0.8)',
      'rgba(231, 118, 84, 0.8)',
      'rgba(231, 84, 84, 0.8)'];

    activationColorsRev = [
      'rgba(231, 84, 84, 0.8)',
      'rgba(231, 118, 84, 0.8)',
      'rgba(231, 158, 84, 0.8)',
      'rgba(231, 194, 84, 0.8)',
      'rgba(231, 229, 84, 0.8)',
      'rgba(197, 231, 84, 0.8)',
      'rgba(163, 231, 84, 0.8)',
      'rgba(131, 231, 84, 0.8)',
      'rgba(109, 231, 84, 0.8)',
      'rgba(84, 231, 96, 0.8)'];

    titledAverages = {
        'averageLossByMove': [2.677001127395716, 1.9740698985343856, 
                                 1.6158399098083427, 1.3757046223224352, 
                                 1.4613866967305524, 1.5949830890642616, 
                                 1.726042841037204, 1.8852874859075535, 
                                 2.2150507328072155, 2.2440811724915446, 
                                 2.4966178128523113, 2.7071589627959414, 
                                 2.855693348365276, 2.9258737316798196, 
                                 2.951240135287486, 3.0428410372040586, 
                                 3.056651634723788, 3.1138669673055244, 
                                 3.152762119503946, 3.3686583990980834, 
                                 3.383032694475761, 3.2589182968929804, 
                                 3.149200710479574, 3.1942557134033356, 
                                 3.038274408044113, 3.209809264305177, 
                                 3.183688199206063, 3.2965491088357983, 
                                 3.252818035426731, 3.0545842217484007, 
                                 2.786071916249431, 3.135856380397865, 
                                 3.127215849843587, 2.9442275515895147, 
                                 3.0527894421115778, 2.810546875, 
                                 2.9176721078779275, 2.8882854926299455, 
                                 2.755744680851064, 2.547328959700094, 
                                 2.7830578512396693, 2.6147635524798156, 
                                 3.3477157360406093, 2.9169096209912535, 
                                 2.539837398373984, 2.9206642066420665, 
                                 2.07185628742515],
        'averageRankByMove': [2.879086809470124, 2.709977452085682, 
                                 2.567925591882751, 2.537767756482525, 
                                 2.5171927846674182, 2.4949267192784665, 
                                 2.5450958286358514, 2.5453776775648254, 
                                 2.6671364148816235, 2.6761555806087935, 
                                 2.65304396843292, 2.6910935738444195, 
                                 2.640924464487035, 2.6786922209695603, 
                                 2.640924464487035, 2.665727170236753, 
                                 2.5916009019165727, 2.6025930101465615, 
                                 2.5873731679819616, 2.599774520856821, 
                                 2.563979706877114, 2.584867663981588, 
                                 2.526050917702783, 2.5296479308214948, 
                                 2.5588712293220888, 2.5899182561307903, 
                                 2.5286900036088054, 2.5305271141448618, 
                                 2.57487922705314, 2.506183368869936, 
                                 2.5106964041875286, 2.497331392527899, 
                                 2.5698644421272157, 2.5521472392638036, 
                                 2.5200959808038395, 2.5475260416666665, 
                                 2.5408090844570617, 2.504266873545384, 
                                 2.5838297872340426, 2.4967197750702907, 
                                 2.5557851239669422, 2.4694348327566322, 
                                 2.4771573604060912, 2.489795918367347, 
                                 2.5609756097560976, 2.53690036900369, 
                                 2.5229540918163673]};

    Chart.defaults.global.legend.display = false;
    //// Overall ===========================
   
    // get bar chart canvas
    var overallChart = document.getElementById("overall").getContext("2d");

    // draw bar chart
    var activationGaugeDatasets = {
      'all': [
        {
          label: 'Player Activation',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{overallActivationColor}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{playerReport.activation}}, {{100 - playerReport.activation}}]
        },
        {
          label: 'Games Breakdown',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: activationColorsRev,
          data : {{gameReportStore.binnedActivations()}}
        },
        {
          label: 'Moves Breakdown',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: activationColorsRev,
          data : {{gameReportStore.binnedMoveActivations()}}
        }
      ],
      'top': [
        {
          label: 'Player Activation',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{overallActivationColor}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{playerReport.activation}}, {{100 - playerReport.activation}}]
        },
        {
          label: 'Games Breakdown',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: activationColorsRev,
          data : {{gameReportStore.binnedActivations(top=True)}}
        },
        {
          label: 'Moves Breakdown',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: activationColorsRev,
          data : {{gameReportStore.binnedMoveActivations(top=True)}}
        }
      ]
    };
    var activationGauge = new Chart(overallChart, {
      type: 'doughnut',
      data: {
        datasets : activationGaugeDatasets['all']
      },
      options: {
        cutoutPercentage: 40,
        legend: false,
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].label || ' ';
            }
          }
        },
        rotation: Math.PI
      }
    });

    //// Combined Activation ==========================
    var combinedActivationCtx = document.getElementById("combined-activation").getContext("2d");

    var combinedActivationDatasets = {
      'all': [{% for gameReport in gameReportStore.gameReports %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.activations()}},
          borderColor: activationColors[Math.floor({{gameReport.activation}}/10)],
          fill: false
        },{% endfor %}],
      'top': [{% for gameReport in gameReportStore.topGames() %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.activations()}},
          borderColor: activationColors[Math.floor({{gameReport.activation}}/10)],
          fill: false
        },{% endfor %}]
    };

    var combinedActivationChart = new Chart(combinedActivationCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets: combinedActivationDatasets['all']
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 100,
              step: 20,
              callback: function(value, index, values) {
                return value + '%';
              }
            }
          }]
        }
      }
    });
    //// Combined Loss ==========================
    var combinedLossCtx = document.getElementById("combined-loss").getContext("2d");

    var stdBracketLossByMoveData = {
      'all': {{gameReportStore.stdBracketLossByMove()|safe}},
      'top': {{gameReportStore.stdBracketLossByMove(top=True)|safe}}
    };

    var combinedLossDatasets = {
      'all': [
        {
          label: 'Average',
          data: {{gameReportStore.averageLossByMove()|safe}},
          borderColor: 'rgba(240, 0, 0, 0.8)',
          fill: false,
          lineWidth: 3
        },
        {
          label: '+ std',
          data: stdBracketLossByMoveData['all']['top'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: '- std',
          data: stdBracketLossByMoveData['all']['bottom'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: 'Titled Player Average',
          data: titledAverages['averageLossByMove'],
          borderColor: 'rgba(20, 180, 40, 0.4)',
          fill: false,
          lineWidth: 0.5,
          pointRadius: 1
        },
      {% for gameReport in gameReportStore.gameReports %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.losses()}},
          borderColor: 'rgba(20,20,20,0.3)',
          fill: false,
          showLine: false,
          pointRadius: 10
        },{% endfor %}
      ],
      'top': [
        {
          label: 'Average',
          data: {{gameReportStore.averageLossByMove(top=True)|safe}},
          borderColor: 'rgba(240, 0, 0, 0.8)',
          fill: false,
          lineWidth: 3
        },
        {
          label: '+ std',
          data: stdBracketLossByMoveData['top']['top'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: '- std',
          data: stdBracketLossByMoveData['top']['bottom'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: 'Titled Player Average',
          data: titledAverages['averageLossByMove'],
          borderColor: 'rgba(20, 180, 40, 0.4)',
          fill: false,
          lineWidth: 0.5,
          pointRadius: 1
        },
      {% for gameReport in gameReportStore.topGames() %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.losses()}},
          borderColor: 'rgba(20,20,20,0.3)',
          fill: false,
          showLine: false,
          pointRadius: 10
        },{% endfor %}
      ]
    }

    var combinedLossChart = new Chart(combinedLossCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets: combinedLossDatasets['all']
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 20,
              step: 4,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Combined Rank ==========================
    var combinedRankCtx = document.getElementById("combined-rank").getContext("2d");

    var stdBracketRankByMoveData = {
      'all': {{gameReportStore.stdBracketRankByMove()|safe}},
      'top': {{gameReportStore.stdBracketRankByMove(top=True)|safe}}
    };
    
    var combinedRankDatasets = {
      'all': [
        {
          label: 'Average',
          data: {{gameReportStore.averageRankByMove()|safe}},
          borderColor: 'rgba(240, 0, 0, 0.8)',
          fill: false,
          lineWidth: 2
        },
        {
          label: '+ std',
          data: stdBracketRankByMoveData['all']['top'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: '- std',
          data: stdBracketRankByMoveData['all']['bottom'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: 'Titled Player Average',
          data: titledAverages['averageRankByMove'],
          borderColor: 'rgba(20, 180, 40, 0.4)',
          fill: false,
          lineWidth: 0.5,
          pointRadius: 1
        },
      {% for gameReport in gameReportStore.gameReports %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.ranksJSON()|safe}},
          borderColor: 'rgba(20,20,20,0.3)',
          fill: false,
          showLine: false,
          pointRadius: 10
        },{% endfor %}
      ],
      'top': [
        {
          label: 'Average',
          data: {{gameReportStore.averageRankByMove(top=True)|safe}},
          borderColor: 'rgba(240, 0, 0, 0.8)',
          fill: false,
          lineWidth: 2
        },
        {
          label: '+ std',
          data: stdBracketRankByMoveData['top']['top'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: '- std',
          data: stdBracketRankByMoveData['top']['bottom'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: 'Titled Player Average',
          data: titledAverages['averageRankByMove'],
          borderColor: 'rgba(20, 180, 40, 0.4)',
          fill: false,
          lineWidth: 0.5,
          pointRadius: 1
        },
      {% for gameReport in gameReportStore.topGames() %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.ranksJSON()|safe}},
          borderColor: 'rgba(20,20,20,0.3)',
          fill: false,
          showLine: false,
          pointRadius: 10
        },{% endfor %}
      ]
    };

    var combinedRankChart = new Chart(combinedRankCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets: combinedRankDatasets['all']
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 1,
              max: 5,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }]
        }
      }
    });

    function filterGames(opt) {
      // opt == 'top' or 'all'
      // set the dataset values
      activationGauge.data.datasets = activationGaugeDatasets[opt];
      combinedActivationChart.data.datasets = combinedActivationDatasets[opt];
      combinedLossChart.data.datasets = combinedLossDatasets[opt];
      combinedRankChart.data.datasets = combinedRankDatasets[opt];
      // update the charts
      activationGauge.update();
      combinedActivationChart.update();
      combinedLossChart.update();
      combinedRankChart.update();

      if (opt === 'all') {
        $('#filter-all').addClass('active');
        $('#filter-top').removeClass('active');
      }
      if (opt === 'top') {
        $('#filter-top').addClass('active');
        $('#filter-all').removeClass('active');
      }
    }

    document.onload = addGameCharts();
    //// Games =============================
    function addGameCharts() {
      gamesData = {
        {% for gameReport in gameReportStore.gameReports %}
        '{{gameReport.gameId}}': {
          'activation': {{gameReport.activation}},
          'activations': {{gameReport.activations()|safe}},
          'binnedActivations': {{gameReport.binnedActivations()|safe}},
          'moveLabels': {{gameReport.moveNumbers()|safe}}
        },
        {% endfor %}
      };
      for (var gameId in gamesData) {
        var gameData = gamesData[gameId];
        new Chart(document.getElementById("gameReport"+gameId).getContext('2d'), {
          type: 'line',
          data: {
            labels: gameData['moveLabels'],
            datasets: [{
              data: gameData['activations'],
              backgroundColor: activationColors[Math.floor(gameData['activation']/10)],
              pointRadius: 5
            }],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 100,
                  step: 20
                }
              }]
            }
          }
        });

        new Chart(document.getElementById("gameActivation"+gameId).getContext("2d"), {
          type: 'doughnut',
          data: {
            datasets: [{
              label: 'Overall Activation',
              hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
              borderColor: 'rgba(50, 50, 50, 0.2)',
              backgroundColor: [
                activationColors[Math.floor(gameData['activation']/10)],
                'rgba(50, 50, 50, 0.2)'
              ],
              data: [gameData['activation'], 100-gameData['activation']]
            },{
              label: 'Moves Breakdown',
              hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
              borderColor: 'rgba(50, 50, 50, 0.2)',
              backgroundColor: activationColorsRev,
              data: gameData['binnedActivations']
            }]
          },
          options: {
            responsive: false,
            tooltips: {
              callbacks: {
                label: function(tooltipItem, data) {
                  return data.datasets[tooltipItem.datasetIndex].label || ' ';
                }
              }
            },
            rotation: Math.PI
          }
        });
      }
    }
    //// End
  </script>
  </body>
</html>