{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header(playerObj.id + ' - Player Analysis Queue') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('player') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {{ nav.directory(playerObj.id, lichessLink="https://lichess.org/@/" + playerObj.id + "?mod")}}
      <div class="row">
        <div class="col">
          <h1><b>{{ playerObj.id }} </b></h1>
        </div>
        <div class="col refresh">
          <h3><a onclick="queueForAnalysis()" class="analyse">Analyse Now <span data-feather="cpu"></span></a></h3>
        </div>
        <div class="col refresh">
          <h3><a onclick="updatePlayerData()" class="refresh">Refresh Player <span data-feather="refresh-cw"></span></a></h3>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td width="150px" style="text-align: right; font-weight: bold;">
              Titled
            </td>
            <td width="150px">
              {{playerObj.titled}}
            </td>
            <td></td>
          </tr>
          <tr>
            <td width="150px" style="text-align: right; font-weight: bold;">
              Engine
            </td>
            <td>
              {{playerObj.engine}}
            </td>
            <td></td>
          </tr>
          <tr>
            <td width="150px" style="text-align: right; font-weight: bold;">
              Games Played
            </td>
            <td>
              {{playerObj.gamesPlayed}}
            </td>
            <td></td>
          </tr>
          <tr>
            <td width="150px" style="text-align: right; font-weight: bold;">
              Has Open Report
            </td>
            <td>
              {{reportOpen}}
            </td>
            {% if reportOpen %}
            <td>
              <a onclick="closeReport()" class="close-report"><span data-feather="x-circle"></span> Close Report</a>
            </td>
            {% else %}
            <td></td>
            {% endif %}
          </tr>
        </table>
      </div>

      <h2>Irwin Reports</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="100px">Activation</th>
              <th width="400px">Details</th>
              <th>Links</th>
            </tr>
          </thead>
          {% for report, color in reportsWithColors %}
          <tr>
            <td><canvas id="gauge-{{report.id}}" height="140px"></canvas></td>
            <td>
              <h2>
                <b>#{{report.id}}</b><br>
                <span style="color: {{color}}"><b>{{report.activation}}%</b></span>
              </h2>
              <h5>
                Created by {{report.owner}}, {{"{:%d %b %Y at %H:%M}".format(report.date)}}<br>
              </h5>
            </td>
            <td>
              <a href='{{url_for("playerReport", reportId=report.id)}}'>
                <span data-feather="clipboard"></span>
                 View Report
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>  
      </div>

      {% if deepPlayerQueue != None %}
      <h2>Queued Requests</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th width="80px">Precedence</th>
              <th width="100px">Origin</th>
              <th width="200px">Created</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tr>
            <td>{{deepPlayerQueue.precedence}}</td>
            <td>{{deepPlayerQueue.origin}}</td>
            <td>{{"{:%d %b %Y at %H:%M}".format(deepPlayerQueue.date)}}</td>
            <td>{{deepPlayerQueue.owner}}</td>
          </tr>
        </table>
      </div>
      {% endif %}

      <h2>Available Games</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <th width="100px">Activation</th>
            <th width="150px">Details</th>
            <th>Links</th>
          </thead>
          {% for game in availableGames %}
          <tr>
            <td style="color: {{game.color()}}"><h2><b>{{game.prediction}}%</b></h2></td>
            <td><h2>{{game.gameId}}</h2></td>
            <td>
              <a onclick="markForAnalysis('{{game.gameId}}')" style="cursor: pointer;" class="mark-{{game.gameId}}">
                <span data-feather="check-circle"></span>
                {% if game.gameId in playerObj.mustAnalyse %}
                 Marked for Analysis
                {% else %}
                 Mark for Analysis
                {% endif %}
              </a><br><br>
              <a href="https://lichess.org/{{game.gameId}}">
                <span data-feather="arrow-up-right"></span>
                 View in Lichess
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  {{ base.scripts() }}
  <script>
    function updatePlayerData() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "{{url_for('updatePlayerData')}}", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify({'userId': '{{playerObj.id}}'}));
      $(".refresh").text("loading...");
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4 && xhttp.status === 201) {
          var response = xhttp.responseText;
          console.log(response);
          $(".refresh").text('Updated!');
          window.location.reload(false);
        } else if (xhttp.readyState === 4 && xhttp.status === 204) {
          var response = xhttp.responseText;
          console.log(response);
          $(".refresh").text('Failed!');
        }
      };
    }

    function markForAnalysis(gameId) {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "{{url_for('markGameForAnalysis')}}", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify({'userId': '{{playerObj.id}}', 'gameId': gameId}));
      $(".mark-" + gameId).text("loading...");
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4 && xhttp.status === 201) {
          var response = xhttp.responseText;
          console.log(response);
          $(".mark-" + gameId).text('Marked for Analysis!');
        } else if (xhttp.readyState === 4 && xhttp.status === 204) {
          var response = xhttp.responseText;
          console.log(response);
          $(".mark-" + gameId).text('Failed!');
        }
      };
    }

    function closeReport() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "{{url_for('closeModReport')}}", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify({'userId': '{{playerObj.id}}'}));
      $(".close-report").text("setting...");
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4 && xhttp.status === 201) {
          var response = xhttp.responseText;
          console.log(response);
          $(".close-report").text('removed!');
        } else if (xhttp.readyState === 4) {
          var response = xhttp.responseText;
          console.log(response);
          $(".close-report").text('failed!');
        }
      };
    }

    function queueForAnalysis() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "{{url_for('analysePlayer')}}", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify({'userId': '{{playerObj.id}}'}));
      $(".analyse").text("loading...");
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4 && xhttp.status === 201) {
          var response = xhttp.responseText;
          console.log(response);
          $(".analyse").text('Queued!');
          window.location.reload(false);
        } else if (xhttp.readyState === 4 && xhttp.status === 204) {
          var response = xhttp.responseText;
          console.log(response);
          $(".analyse").text('Failed!');
        }
      };
    }

    {% for irwinReport, color in reportsWithColors %}
    var barData = {
      datasets : [
        {
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{color}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{irwinReport.activation}}, {{100 - irwinReport.activation}}]
        }
      ]
    };
   
     // get bar chart canvas
    var reportActivationCtx = document.getElementById("gauge-{{irwinReport.id}}").getContext("2d");

     // draw bar chart
    new Chart(reportActivationCtx, {
      type: 'doughnut',
      data: barData,
      options: {
        cutoutPercentage: 60,
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        },
        rotation: Math.PI
      }
    });
    {% endfor %}
  </script>
  </body>
</html>