{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Player Report - ' + playerReport.id) }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('player') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {{ nav.directory(playerReport.userId, playerReport.id, lichessLink="https://lichess.org/@/" + playerReport.userId + "?mod") }}
      <h1><b>{{ playerReport.userId }}</b></h1>
      <div class="row">
        <div class="col-3">
          <div class="row">
            <h3>Activation <span style="color: {{overallActivationColor}}"><b>{{playerReport.activation}}%</b></span></h3>
            <canvas id="overall" height="200em"></canvas>
          </div>
          <div class="btn-group filter">
            <button type="button" class="btn btn-default active" id="filter-all" onclick="filterGames('all')">
              <h3>All</h3>
            </button>
            <button type="button" class="btn btn-default" id="filter-top" onclick="filterGames('top')">
              <h3>Top</h3>
            </button>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <h3>Combined Move Activations</h3>
            <canvas id="combined-activation" height="70em"></canvas>
          </div>
          <div class="row">
            <h3>Average Winning Chances Loss By Move</h3>
            <canvas id="combined-loss" height="40em"></canvas>
            <h3>Average PV Rank By Move</h3>
            <canvas id="combined-rank" height="40em"></canvas>
          </div>
        </div>
      </div>
      <h2>Game Reports</h2>
      {% for gameReport in gameReportStore.gameReports %}
      <div class="row" style="height: 200px; width: 100%;">
        <div class="col-2" style="text-align: right;">
          <h3>#{{gameReport.gameId}}</h3>
          <span style="color: {{darkColors[gameReport.colorIndex()]}}">
            <h2>
              <b>{{gameReport.activation}}%</b>
            </h2>
          </span>
          <br>
          <a href='{{url_for("gameReport", gameId=gameReport.gameId, reportId=gameReport.reportId)}}'>
            <span data-feather="clipboard"></span>
             View Report
          </a><br><br>
          <a href='https://lichess.org/{{gameReport.gameId}}'>
            <span data-feather="arrow-up-right"></span>
             View Game
          </a>
        </div>
        <div class="col" style="min-width: 200px; max-width: 200px;">
          <canvas id="gameActivation{{gameReport.gameId}}" style="height: 90%; width: 200px;"></canvas>
        </div>
        <div class="col-8" style="height: 200px;">
          <canvas id="gameReport{{gameReport.gameId}}"></canvas>
        </div>
      </div>
      {% endfor %}
    </main>
  {{ base.scripts() }}
  <script>
    activationColors = [
      'rgba(84, 231, 96, 0.8)',
      'rgba(109, 231, 84, 0.8)',
      'rgba(131, 231, 84, 0.8)',
      'rgba(163, 231, 84, 0.8)',
      'rgba(197, 231, 84, 0.8)',
      'rgba(231, 229, 84, 0.8)',
      'rgba(231, 194, 84, 0.8)',
      'rgba(231, 158, 84, 0.8)',
      'rgba(231, 118, 84, 0.8)',
      'rgba(231, 84, 84, 0.8)'];

    activationColorsRev = [
      'rgba(231, 84, 84, 0.8)',
      'rgba(231, 118, 84, 0.8)',
      'rgba(231, 158, 84, 0.8)',
      'rgba(231, 194, 84, 0.8)',
      'rgba(231, 229, 84, 0.8)',
      'rgba(197, 231, 84, 0.8)',
      'rgba(163, 231, 84, 0.8)',
      'rgba(131, 231, 84, 0.8)',
      'rgba(109, 231, 84, 0.8)',
      'rgba(84, 231, 96, 0.8)'];

    Chart.defaults.global.legend.display = false;
    //// Overall ===========================
   
    // get bar chart canvas
    var overallChart = document.getElementById("overall").getContext("2d");

    // draw bar chart
    var activationGaugeDatasets = {
      'all': [
        {
          label: 'Player Activation',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{overallActivationColor}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{playerReport.activation}}, {{100 - playerReport.activation}}]
        },
        {
          label: 'Games Breakdown',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: activationColorsRev,
          data : {{gameReportStore.binnedActivations()}}
        },
        {
          label: 'Moves Breakdown',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: activationColorsRev,
          data : {{gameReportStore.binnedMoveActivations()}}
        }
      ],
      'top': [
        {
          label: 'Player Activation',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{overallActivationColor}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{playerReport.activation}}, {{100 - playerReport.activation}}]
        },
        {
          label: 'Games Breakdown',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: activationColorsRev,
          data : {{gameReportStore.binnedActivations(top=True)}}
        },
        {
          label: 'Moves Breakdown',
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: activationColorsRev,
          data : {{gameReportStore.binnedMoveActivations(top=True)}}
        }
      ]
    };
    var activationGauge = new Chart(overallChart, {
      type: 'doughnut',
      data: {
        datasets : activationGaugeDatasets['all']
      },
      options: {
        cutoutPercentage: 40,
        legend: false,
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].label || ' ';
            }
          }
        },
        rotation: Math.PI
      }
    });

    //// Combined Activation ==========================
    var combinedActivationCtx = document.getElementById("combined-activation").getContext("2d");

    var combinedActivationDatasets = {
      'all': [{% for gameReport in gameReportStore.gameReports %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.activations()}},
          borderColor: activationColors[Math.floor({{gameReport.activation}}/10)],
          fill: false
        },{% endfor %}],
      'top': [{% for gameReport in gameReportStore.topGames() %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.activations()}},
          borderColor: activationColors[Math.floor({{gameReport.activation}}/10)],
          fill: false
        },{% endfor %}]
    };

    var combinedActivationChart = new Chart(combinedActivationCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets: combinedActivationDatasets['all']
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 100,
              step: 20,
              callback: function(value, index, values) {
                return value + '%';
              }
            }
          }]
        }
      }
    });
    //// Combined Loss ==========================
    var combinedLossCtx = document.getElementById("combined-loss").getContext("2d");

    var stdBracketLossByMoveData = {
      'all': {{gameReportStore.stdBracketLossByMove()|safe}},
      'top': {{gameReportStore.stdBracketLossByMove(top=True)|safe}}
    };

    var combinedLossDatasets = {
      'all': [
        {
          label: 'Average',
          data: {{gameReportStore.averageLossByMove()|safe}},
          borderColor: 'rgba(240, 0, 0, 0.8)',
          fill: false,
          lineWidth: 3
        },
        {
          label: '+ std',
          data: stdBracketLossByMoveData['all']['top'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: '- std',
          data: stdBracketLossByMoveData['all']['bottom'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
      {% for gameReport in gameReportStore.gameReports %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.losses()}},
          borderColor: 'rgba(20,20,20,0.3)',
          fill: false,
          showLine: false,
          pointRadius: 10
        },{% endfor %}
      ],
      'top': [
        {
          label: 'Average',
          data: {{gameReportStore.averageLossByMove(top=True)|safe}},
          borderColor: 'rgba(240, 0, 0, 0.8)',
          fill: false,
          lineWidth: 3
        },
        {
          label: '+ std',
          data: stdBracketLossByMoveData['top']['top'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: '- std',
          data: stdBracketLossByMoveData['top']['bottom'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
      {% for gameReport in gameReportStore.topGames() %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.losses()}},
          borderColor: 'rgba(20,20,20,0.3)',
          fill: false,
          showLine: false,
          pointRadius: 10
        },{% endfor %}
      ]
    }

    var combinedLossChart = new Chart(combinedLossCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets: combinedLossDatasets['all']
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 20,
              step: 4,
              callback: function(value, index, values) {
                return '-' + value + '%';
              }
            }
          }]
        }
      }
    });
    //// Combined Rank ==========================
    var combinedRankCtx = document.getElementById("combined-rank").getContext("2d");

    var stdBracketRankByMoveData = {
      'all': {{gameReportStore.stdBracketRankByMove()|safe}},
      'top': {{gameReportStore.stdBracketRankByMove(top=True)|safe}}
    };
    
    var combinedRankDatasets = {
      'all': [
        {
          label: 'Average',
          data: {{gameReportStore.averageRankByMove()|safe}},
          borderColor: 'rgba(240, 0, 0, 0.8)',
          fill: false,
          lineWidth: 2
        },
        {
          label: '+ std',
          data: stdBracketRankByMoveData['all']['top'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: '- std',
          data: stdBracketRankByMoveData['all']['bottom'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
      {% for gameReport in gameReportStore.gameReports %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.ranksJSON()|safe}},
          borderColor: 'rgba(20,20,20,0.3)',
          fill: false,
          showLine: false,
          pointRadius: 10
        },{% endfor %}
      ],
      'top': [
        {
          label: 'Average',
          data: {{gameReportStore.averageRankByMove(top=True)|safe}},
          borderColor: 'rgba(240, 0, 0, 0.8)',
          fill: false,
          lineWidth: 2
        },
        {
          label: '+ std',
          data: stdBracketRankByMoveData['top']['top'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
        {
          label: '- std',
          data: stdBracketRankByMoveData['top']['bottom'],
          borderColor: 'rgba(0, 0, 180, 0.3)',
          fill: false,
          lineWidth: 1,
          pointRadius: 0.5
        },
      {% for gameReport in gameReportStore.topGames() %}
        {
          label: '{{gameReport.gameId}}',
          data: {{gameReport.ranksJSON()|safe}},
          borderColor: 'rgba(20,20,20,0.3)',
          fill: false,
          showLine: false,
          pointRadius: 10
        },{% endfor %}
      ]
    };

    var combinedRankChart = new Chart(combinedRankCtx, {
      type: 'line',
      data: {
        labels: {{combinedLabels}},
        datasets: combinedRankDatasets['all']
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 1,
              max: 5,
              callback: function(value, index, values) {
                return 'PV ' + value;
              }
            }
          }]
        }
      }
    });

    function filterGames(opt) {
      // opt == 'top' or 'all'
      // set the dataset values
      activationGauge.data.datasets = activationGaugeDatasets[opt];
      combinedActivationChart.data.datasets = combinedActivationDatasets[opt];
      combinedLossChart.data.datasets = combinedLossDatasets[opt];
      combinedRankChart.data.datasets = combinedRankDatasets[opt];
      // update the charts
      activationGauge.update();
      combinedActivationChart.update();
      combinedLossChart.update();
      combinedRankChart.update();

      if (opt === 'all') {
        $('#filter-all').addClass('active');
        $('#filter-top').removeClass('active');
      }
      if (opt === 'top') {
        $('#filter-top').addClass('active');
        $('#filter-all').removeClass('active');
      }
    }

    document.onload = addGameCharts();
    //// Games =============================
    function addGameCharts() {
      gamesData = {
        {% for gameReport in gameReportStore.gameReports %}
        '{{gameReport.gameId}}': {
          'activation': {{gameReport.activation}},
          'activations': {{gameReport.activations()|safe}},
          'binnedActivations': {{gameReport.binnedActivations()|safe}},
          'moveLabels': {{gameReport.moveNumbers()|safe}}
        },
        {% endfor %}
      };
      for (var gameId in gamesData) {
        var gameData = gamesData[gameId];
        new Chart(document.getElementById("gameReport"+gameId).getContext('2d'), {
          type: 'line',
          data: {
            labels: gameData['moveLabels'],
            datasets: [{
              data: gameData['activations'],
              backgroundColor: activationColors[Math.floor(gameData['activation']/10)],
              pointRadius: 5
            }],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 100,
                  step: 20
                }
              }]
            }
          }
        });

        new Chart(document.getElementById("gameActivation"+gameId).getContext("2d"), {
          type: 'doughnut',
          data: {
            datasets: [{
              label: 'Overall Activation',
              hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
              borderColor: 'rgba(50, 50, 50, 0.2)',
              backgroundColor: [
                activationColors[Math.floor(gameData['activation']/10)],
                'rgba(50, 50, 50, 0.2)'
              ],
              data: [gameData['activation'], 100-gameData['activation']]
            },{
              label: 'Moves Breakdown',
              hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
              borderColor: 'rgba(50, 50, 50, 0.2)',
              backgroundColor: activationColorsRev,
              data: gameData['binnedActivations']
            }]
          },
          options: {
            responsive: false,
            tooltips: {
              callbacks: {
                label: function(tooltipItem, data) {
                  return data.datasets[tooltipItem.datasetIndex].label || ' ';
                }
              }
            },
            rotation: Math.PI
          }
        });
      }
    }
    //// End
  </script>
  </body>
</html>