{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header(playerObj.id + ' - Player Analysis Queue') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('player') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {{ nav.directory(playerObj.id, lichessLink="https://lichess.org/@/" + playerObj.id + "?mod")}}
      <div class="row">
        <div class="col">
          <h1><b>{{ playerObj.id }} </b></h1>
        </div>
        <div class="col" style="text-align: right;">
          <h1><button type="submit" onclick="UserAction()" class="refresh">Refresh Player Data</button></h1>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td width="150px" style="text-align: right; font-weight: bold;">Titled</td><td>{{playerObj.titled}}</td>
          </tr>
          <tr>
            <td width="150px" style="text-align: right; font-weight: bold;">Engine</td><td>{{playerObj.engine}}</td>
          </tr>
          <tr>
            <td width="150px" style="text-align: right; font-weight: bold;">Games Played</td><td>{{playerObj.gamesPlayed}}</td>
          </tr>
        </table>
      </div>

      <h2>Irwin Reports</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Activation</th>
              <th>Details</th>
            </tr>
          </thead>
          {% for report, color in reportsWithColors %}
          <tr class='clickable-row' data-href='{{url_for("playerReport", reportId=report.id)}}'>
            <td width="100px"><canvas id="gauge-{{report.id}}" height="200em"></canvas></td>
            <td>
              <h4>#{{report.id}}</h4><br>
              <h2 style="color: {{color}}"><b>{{report.activation}}%</b></h2><br>
              created by {{report.owner}}<br>
              Last updated {{"{:%d %b %Y}".format(report.date)}}<br>
            </td>
          </tr>
          {% endfor %}
        </table>  
      </div>
    </main>
  {{ base.scripts() }}
  <script>
    function UserAction() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "{{url_for('updatePlayerData')}}", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify({'userId': '{{playerObj.id}}'}));
      $(".refresh").text("loading...");
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4 && xhttp.status === 201) {
          var response = xhttp.responseText;
          console.log(response);
          $(".refresh").text('Updated!');
          window.location.reload(false);
        } else if (xhttp.readyState === 4 && xhttp.status === 204) {
          var response = xhttp.responseText;
          console.log(response);
          $(".refresh").text('Failed!');
        }
      };
    }

    {% for irwinReport, color in reportsWithColors %}
    var barData = {
      datasets : [
        {
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{color}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{irwinReport.activation}}, {{100 - irwinReport.activation}}]
        }
      ]
    };
   
     // get bar chart canvas
    var reportActivationCtx = document.getElementById("gauge-{{irwinReport.id}}").getContext("2d");

     // draw bar chart
    new Chart(reportActivationCtx, {
      type: 'doughnut',
      data: barData,
      options: {
        cutoutPercentage: 60,
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        },
        rotation: Math.PI
      }
    });
    {% endfor %}
  </script>
  </body>
</html>