{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Recent Reports') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('recent-reports') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>Recently Sent Reports</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Activation</th>
              <th>Details</th>
            </tr>
          </thead>
          {% for irwinReport, color in reportsAndColors %}
          <tr class='clickable-row' data-href='{{url_for("playerReport", reportId=irwinReport.id)}}'>
            <td width="200px">
              <canvas id="report-activation-{{irwinReport.id}}" height="140px"></canvas>
            </td>
            <td>
              <h2>
                <b>{{irwinReport.userId}}<b><br>
                <span style="color: {{color}};"><b>{{irwinReport.activation}}%</b></span>
              </h2>
              <h5>
                Created by {{irwinReport.owner}}, {{"{:%d %b %Y at %H:%M}".format(irwinReport.date)}}
              </h5>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  {{ base.scripts() }}
  <script type="text/javascript">
    //Chart.defaults.global.legend.display = false;
    //// Overall ===========================
    // bar chart data
    {% for irwinReport, color in reportsAndColors %}
    var barData = {
      datasets : [
        {
          hoverBorderColor: 'rgba(50, 50, 50, 0.2)',
          borderColor: 'rgba(50, 50, 50, 0.2)',
          backgroundColor: [
            '{{color}}',
            'rgba(50, 50, 50, 0.2)'
          ],
          data : [{{irwinReport.activation}}, {{100 - irwinReport.activation}}]
        }
      ]
    };
   
     // get bar chart canvas
    var reportActivationCtx = document.getElementById("report-activation-{{irwinReport.id}}").getContext("2d");

     // draw bar chart
    new Chart(reportActivationCtx, {
      type: 'doughnut',
      data: barData,
      options: {
        cutoutPercentage: 60,
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        },
        rotation: Math.PI
      }
    });
    {% endfor %}
  </script>
  </body>
</html>