{% import 'macros/base.html' as base %}
{% import 'macros/nav.html' as nav %}
<!doctype html>
<html lang="en">
{{ base.header('Recent Reports') }}
  <body>
    {{ nav.search() }}
    {{ nav.sidebar('recent-reports') }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h1>Recently Sent Reports</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Report ID</th>
              <th>User ID</th>
              <th>Activation</th>
              <th>Owner</th>
              <th>Created</th>
            </tr>
          </thead>
          {% for report in reportsAndColors %}
          <tr class='clickable-row' data-href='{{url_for("playerReport", reportId=report[0].id)}}' style="background-color: {{report[1]}}">
            <td>{{report[0].id}}</td>
            <td>{{report[0].userId}}</td>
            <td>{{report[0].activation}}%</td>
            <td>{{report[0].owner}}</td>
            <td>{{report[0].date}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
  {{ base.scripts() }}
  </body>
</html>